{% extends 'layout/layout.html' %}

{% load helper_tags %}
{% load humanize %}

{% block content %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/paper-dashboard.css' %}" />
<link rel="stylesheet" href="{% static 'css/sales-dashboard.css' %}" />
{% endblock %}
<script type="text/javascript" src="{% static 'js/canvas/canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/canvas/canvasjs.min.js' %}"></script>

<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->

<script src="{% static 'js/jquery.jscroll.min.js' %}"></script>
<!-- <script src="{% static 'js/piechart/core.js' %}"></script> -->
<!-- <script src="{% static 'js/piechart/charts.js' %}"></script>
<script src="{% static 'js/piechart/themes/animated.js' %}"></script> -->
                    
<main class="" id="containerHeight">
    <div class="row px-3 ">
        <div class="col-sm-12 col-12 px-0  " >
            <h6 class="font-wt-b mb-2">Sales Dashboard </h6>
            
        <div class="row">
            
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget-cards widget-cards-stats">
                    <div class="widget-cards-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <img src="{% static 'img/png/activity/add.png' %}" class="widget-cards-img">
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="widget-cards-category">Initiated</p>
                                    <p class="widget-cards-title"><a href="{% url 'src:orders' '1' %}">{{order_intitate_count}}</a><p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget-cards widget-cards-stats">
                        <div class="widget-cards-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <img src="{% static 'img/svg/farword_b.svg' %}" class="widget-cards-img">
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="widget-cards-category">Forwarded</p>
                                        <p class="widget-cards-title"><a href="{% url 'src:orders' '2' %}">{{order_forwarded_count}}</a><p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widget-cards widget-cards-stats">
                            <div class="widget-cards-body ">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="icon-big text-center icon-warning">
                                            <img src="{% static 'img/png/Approved.png' %}" class="widget-cards-img">
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="numbers">
                                            <p class="widget-cards-category">Approved</p>
                                            <p class="widget-cards-title"><a href="{% url 'src:orders' '3' %}">{{order_approved_count}}</a><p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="widget-cards widget-cards-stats">
                                <div class="widget-cards-body ">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <img src="{% static 'img/png/activity/updateVehiclePass.png' %}">
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="widget-cards-category">Delivered</p>
                                                <p class="widget-cards-title"><a href="{% url 'src:orders' '4' %}">{{order_delivered_count}}</a><p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="widget-cards widget-cards-stats">
                                    <div class="widget-cards-body ">
                                        <div class="row">
                                            <div class="col-5 col-md-3">
                                                <div class="icon-big text-center icon-warning">
                                                    <img src="{% static 'img/png/activity/markedAtten.png' %}" class="widget-cards-img">
                                                </div>
                                            </div>
                                            <div class="col-7 col-md-9">
                                                <div class="numbers">
                                                    <p class="widget-cards-category">Attendance</p>
                                                    <p class="widget-cards-title"><a href="javascript:;" onclick="viewAttendance()">{{today_attendance}}/{{total_user}}</a><p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            
                        </div>
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
                
                        <!-- Top content -->
        <div class="top-content">
        	<div class="container-fluid">
        		<div id="carousel-example" class="carousel slide1" data-ride1="carousel">
        			<div class="carousel-inner row w-100 mx-auto1" role="listbox">
            						
                        <div class="col-sm-4 pb-2"><a class="" href="#carousel-example" role="button" data-slide="prev">
                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                            <span class="sr-only">← Previous</span>
                        </a>
                    </div><div class="col-sm-4"></div>
                    <div class="col-sm-4  pb-2 text-right ">
                        <a class="" href="#carousel-example" role="button" data-slide="next">
                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                            <span class="sr-only">Next →</span>
                        </a></div>
                        {% for product_data in product_class%}
                    <div class="col-sm-4 col-12  carousel-item {% if forloop.counter == 1 %}active{%endif%}" >
                        <div class="primaryContainerBG h-100 card-monthlysale" >
                            <div class="row just-center">
                                <img alt="" src="{% static 'img/svg/graph.svg' %}" style="margin-right: 6px; margin-top: -4px;"/>
                                <h6 class="font-wt-b mb-0"> {{product_data.product_class}} Sale Performance </h6>
                                
                            </div>

                            <div class="col-sm-12 col-12 px-0 card-monthly-box mt-3">
                                <div class="row " style="padding: 8px;">
                                    <div class="pl-0 pr-2 col-sm-2">
                                        <span class="font-13 dark-blue-color font-wt-b">
                                            <b>{{product_data.product_class}}</b> Sales 
                                        </span>
                                        <span class="font-13 dark-blue-color font-wt-b">
                                             ({{product_data.unit}})
                                        </span>
                                    </div>
                                    <div class="pl-0 pr-2 font-13 font-wt-b" style="margin-left: 0.2rem;">
                                        {%if product_data.today_total %}
                                        <span class=""> {{product_data.today_total}}</span>
                                        {% else %}
                                        <span class=""> 0 </span>
                                        {% endif %}
                                        <span class="d-block accent-color " style="margin-top: 0.3rem;"> Current Day</span>
                                    </div>
                                    <div class="pl-0 pr-2 font-13 font-wt-b">
                                        
                                        {%if product_data.yesterday_total %}
                                        <span class=" "> {{product_data.yesterday_total}}</span>
                                        {% else %}
                                        <span class=""> 0 </span>
                                        {% endif %}
                                        <span class="d-block yellow-color " style="margin-top: 0.3rem;"> Previous Day</span>
                                    </div>
                                    <div class="col-sm-5 col-3 px-0 " style="margin-left: 0.2rem;"> 
                                        <div class="row border-left">
                                            <div style="width: 50%; margin-left: 2px;">
                                                {%if product_data.daily_profit_loss_status == 1%}
                                                <a class="grph-bar-day accent-bg" href="#" title="current-day-graph" style="width:100%;"></a>
                                                <a class="grph-bar-day-prev yellow-bg" style="margin-top: 4px; width: {{product_data.daily_profit_loss_bar_percentage}}%;" href="#" title="previous-day-graph" ></a>
                                                
                                                    
                                                {% else %}
                                                    <a class="grph-bar-day accent-bg" href="#" title="current-day-graph" style="width:{{product_data.daily_profit_loss_bar_percentage}}%;"></a>
                                                    <a class="grph-bar-day-prev yellow-bg" style="margin-top: 4px; width:100%;" href="#" title="previous-day-graph"></a>
                                                    
                                                {% endif %}
                                            </div>
                                            <div class="ml-2  font-wt-b" style="margin-left: 0.2rem;">
                                                {%if product_data.daily_profit_loss_status == 1%}
                                                <span class="d-inline-block grph-percent-vlu-icon secnd-percnt-vlu-box grph-percent-green d-inline-block">
                                                    <i class="fa fa-angle-up" ></i>
                                                </span>
                                                <span class="grph-percent-vlu-green font-15 font-wt-b" >{{product_data.daily_profit_loss_percentage}}%</span>
                                                {%elif product_data.daily_profit_loss_status == 0%}
                                                <span class="d-inline-block grph-percent-vlu-icon secnd-percnt-vlu-box grph-percent-red d-inline-block" style="padding: 2px;">
                                                    <i class="fa fa-angle-down" ></i>
                                                </span>
                                                <span class="grph-percent-vlu-red font-15 font-wt-b" >{{product_data.daily_profit_loss_percentage}}%</span>
                                                {% else %}
                                                <span class="d-inline-block grph-percent-vlu-icon secnd-percnt-vlu-box grph-percent-red d-inline-block" style="padding: 2px;">
                                                    <i class="fa fa-angle-down" ></i>
                                                </span>
                                                <span class="grph-percent-vlu-red font-15 font-wt-b" >0%</span>
                                                {%endif%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row monthly-sale-vlu light-yellow-bg">
                                    
                                        {% if product_data.month_data %}
                                        <div class="col-sm-6 col-12 px-0 font-13" style="text-align:left;"> Monthly Total Sale ({{product_data.unit}})<span style="margin-left: 0.1rem;">{{product_data.month_data}}</span></div>
                                        <div class="col-sm-6 col-12 px-0 mob-mt-8 font-13" style="text-align:left;"> Monthly Average Sale ({{product_data.unit}})<span style="margin-left: 0.1rem;">{{product_data.month_data_avg}}</span></div>
                                        {% else %}
                                        <div class="col-sm-6 col-12 px-0 font-13" style="text-align:left;"> Monthly Total Sale ({{product_data.unit}})<span style="margin-left: 0.1rem;">0</span></div>
                                        <div class="col-sm-6 col-12 px-0 mob-mt-8 font-13" style="text-align:left;"> Monthly Average Sale ({{product_data.unit}})<span style="margin-left: 0.1rem;">0</span></div>
                                        {%endif%}
                                    
                                </div>
                            </div>
                            <div class="col-sm-12 col-12 px-0 mt-3">
                                <div class="row" >
                                    <div class="col-sm-6 col-6  pl-0 pr-2">
                                        <div class="col-sm-12 col-12 px-0  pt-2 card-monthly-box">
                                            <span class="d-block mb-3 px-2  font-15 dark-blue-color font-wt-b">
                                                {{product_data.product_class}} Sale <b>(YTD) </b>
                                            </span>
                                            <div class="row font-wt-b px-2 pb-3">
                                                <div class="col-sm-7  px-0 col-5" style="text-align: left; padding: 0.3rem;">

                                                    {% if product_data.prev_year_data %}
                                                    <span class=" dark-blue-color font-13 d-inline-block " style="line-height: 0.8rem;">{{product_data.prev_year_data}}
                                                        <b class="grph-percent-vlu-grey ml-0 d-block font-13">{{product_data.prev_year}}</b>
                                                    </span>
                                                    {%else%}
                                                    <span class=" dark-blue-color font-13 d-inline-block " style="line-height: 0.8rem;">0
                                                        <b class="grph-percent-vlu-grey ml-0 d-block font-13">{{product_data.prev_year}}</b>
                                                    </span>
                                                    {%endif%}
                                                    
                                                    {% if product_data.current_year_data %}
                                                    <span class=" dark-blue-color font-13 d-inline-block " style="line-height: 0.8rem;margin-left: 0.3rem;">{{product_data.current_year_data}}
                                                        <b class="grph-percent-vlu-grey ml-0 d-block font-13"style="margin-left: 0.3rem">{{product_data.current_year}}</b>
                                                    </span>
                                                    {% else %}
                                                    <span class=" dark-blue-color font-13 d-inline-block ml-2" style="line-height: 0.8rem;margin-left: 0.3rem">0
                                                        <b class="grph-percent-vlu-grey ml-0 d-block font-13" style="margin-left: 0.3rem">{{product_data.current_year}}</b>
                                                    </span>
                                                    {%endif%}
                                                    
                                                </div>
                                                <div class=" col-sm-5 pl-2 pr-0  font-wt-b col-5">
                                                    {%if product_data.yearly_profit_loss_status == 1 %}
                                                        <span class="d-inline-block grph-percent-vlu-icon secnd-percnt-vlu-box grph-percent-green d-inline-block">
                                                            <i class="fa fa-angle-up"></i>
                                                        </span>
                                                        {% if product_data.yearly_profit_loss_percentage %}
                                                        <span class="grph-percent-vlu-green  d-inline-block font-14" style="margin-left: 2px; ">{{product_data.yearly_profit_loss_percentage}}%</span>
                                                        {%else%}
                                                        <span class="grph-percent-vlu-green  d-inline-block font-14" style="margin-left: 2px; ">0%</span>
                                                        {%endif%}
                                                    {%else%}
                                                    <span class="d-inline-block grph-percent-vlu-icon secnd-percnt-vlu-box grph-percent-red d-inline-block">
                                                        <i class="fa fa-angle-down"></i>
                                                    </span>
                                                    {% if product_data.yearly_profit_loss_percentage %}
                                                    <span class="grph-percent-vlu-red  d-inline-block font-14" style="margin-left: 2px; ">{{product_data.yearly_profit_loss_percentage}}%</span>
                                                    {% else %}
                                                    <span class="grph-percent-vlu-red  d-inline-block font-14" style="margin-left: 2px; ">0%</span>
                                                    {% endif %}
                                                    {%endif%}
                                                </div>
                                            </div>
                                            {%if product_data.yearly_profit_loss_status == 1 %}
                                            <div class="monthly-sale-vlu grph-percent-green"></div>
                                            {%else%}
                                            <div class="monthly-sale-vlu grph-percent-red"></div>
                                            {%endif%}

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-6  pl-0 pr-2">
                                        <div class="col-sm-12 col-12 px-0  pt-2 card-monthly-box">
                                            <span class="d-block mb-3 px-2  font-15 dark-blue-color font-wt-b">
                                                {{product_data.product_class}} Sale <b>(MTD) </b>
                                            </span>
                                            <div class="row font-wt-b px-2 pb-3" >
                                                <div class="col-sm-7  px-0 col-5" style="text-align: left; padding: 0.3rem;">
                                                    {% if product_data.prev_month_data %}
                                                    <span class=" dark-blue-color d-inline-block  font-13" style="line-height: 0.8rem;">{{product_data.prev_month_data}}
                                                        <b class="grph-percent-vlu-grey ml-0 d-block font-13">{{product_data.prev_date}}</b>
                                                    </span>
                                                    {%else%}
                                                    <span class=" dark-blue-color d-inline-block  font-13" style="line-height: 0.8rem;">0
                                                        <b class="grph-percent-vlu-grey ml-0 d-block font-13">{{product_data.prev_date}}</b>
                                                    </span>
                                                    {%endif%}
                                                    

                                                    {% if product_data.month_data %}
                                                    <span class=" dark-blue-color font-13 d-inline-block ml-2" style="line-height: 0.8rem; margin-left: 0.3rem;">{{product_data.month_data}}
                                                        <b class="grph-percent-vlu-grey ml-0 d-block font-13" style="margin-left: 0.1rem;">{{product_data.current_date}}</b>
                                                    </span>
                                                    {%else%}
                                                    <span class=" dark-blue-color d-inline-block  font-13" style="line-height: 0.8rem; margin-left: 0.3rem;">0
                                                        <b class="grph-percent-vlu-grey ml-0 d-block font-13" style="margin-left: 0.2rem;">{{product_data.current_date}}</b>
                                                    </span>
                                                    {%endif%}
                                                    
                                                </div>
                                                <div class=" col-sm-5 pl-2 pr-0  font-wt-b col-5">
                                                    {%if product_data.monthly_profit_loss_status == 1 %}
                                                        <span class="d-inline-block grph-percent-vlu-icon secnd-percnt-vlu-box grph-percent-green d-inline-block">
                                                            <i class="fa fa-angle-up"></i>
                                                        </span>
                                                        {%if product_data.monthly_profit_loss_percentage  %}
                                                        <span class="grph-percent-vlu-green  d-inline-block font-13" style="margin-left: 2px;">{{product_data.monthly_profit_loss_percentage}}%</span>
                                                        {%else%}
                                                        <span class="grph-percent-vlu-green  d-inline-block font-13" style="margin-left: 2px;">0%</span>
                                                        {%endif%}
                                                    {%else%}
                                                        <span class="d-inline-block grph-percent-vlu-icon secnd-percnt-vlu-box grph-percent-red d-inline-block">
                                                            <i class="fa fa-angle-down"></i>
                                                        </span>
                                                        {%if product_data.monthly_profit_loss_percentage %}
                                                        <span class="grph-percent-vlu-red  d-inline-block font-13" style="margin-left: 2px;">{{product_data.monthly_profit_loss_percentage}}%</span>
                                                        {%else%}
                                                        <span class="grph-percent-vlu-red  d-inline-block font-13" style="margin-left: 2px;">0% {{product_data.monthly_profit_loss_percentage}}</span>
                                                        {%endif%}
                                                    {%endif%}
                                                </div>
                                            </div>
                                            {%if product_data.monthly_profit_loss_status == 1 %}
                                            <div class="monthly-sale-vlu grph-percent-green"></div>
                                            {%else%}
                                            <div class="monthly-sale-vlu grph-percent-red"></div>
                                            {%endif%}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12 px-0 mt-3"  style="min-height:420px;">
                            <!-- Bar chart days vise sale in ltr start-->
                            <div class="row just-center dark-blue-color font-14 mt-3 pb-2">
                                <h6 class="font-wt-b mb-2"> Total {{product_data.product_class}} Sale in ({{product_data.unit}}) </h6>
                                <div class="col-sm-12 col-12 px-0">
                                    <div class="bar-chart-monthly-sale">
                                        <div class="hidden-tittle-barchart"></div>
                                        <div class="hidden-version"></div>
                                        <div style="height: 400px;">
                                        <div id="chartMonthlySale{{product_data.product_class}}" >	</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Bar chart  End-->
                            </div>
                            <div class="col-sm-12 col-12 px-0 mt-3" style="min-height:390px;">
                                <div class="row">
                                    <div class="col-sm-8 px-0">
                                        <span class="font-14 dark-blue-color ml-1" style="font-weight: 600;">Today's {{product_data.product_class}} Sale In ({{product_data.unit}})</span>
                                        {% for  sevenData in product_data.sevenDayData %}
                                        <span class="font-14 grey-color" id="current_date" style="font-weight: 600;"></span>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-4 px-0">
                                        <div class="float-right">
                                            <button class="table-btn-show" id="hidetable{{product_data.product_class}}" onclick="showDayvisesale(this.name)" name="{{product_data.product_class}}" style="display: block;">
                                                <i class="fas fa-list mr-1" style="font-size: 14px; -webkit-transform: scaleX(-1);
                                                transform: scaleX(-1);"></i> View in Table
                                            </button>
                                            <button class="pie-btn-show" id="hidepiechart{{product_data.product_class}}" onclick="showDayvisesale(this.name)" name="{{product_data.product_class}}" style="display: none;">
                                                <i class="fa fa-pie-chart" style="font-size: 15px;"></i> View in Graph
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- pie chart days vise sale in ltr-->
                                <div class="col-sm-12 col-12 px-0 mt-3" id="showpieChartdayvise{{product_data.product_class}}" style="height:210px; display: block; font-size: 0.6rem;">
                                    <div class="row" style="height:370px;" >
                                        <div class="col-sm-8 px-0 " >
                                            <div class=""  style="position: relative; height: 310px; padding-top: 3%;">
                                                <!-- <div class="blank"></div> -->
                                                <div style="height: 380px;">
                                            <div id="dayvisesales{{product_data.product_class}}" style="height: 380px; padding-left: 0.3rem;"></div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 px-0 clearfix">
                                            <div class=" ">
                                                <table style=" position: absolute; justify-content: left; bottom: 0; right: 0; width: 95%; border-collapse: unset;" >
                                                    <thead></thead>
                                                    <tbody class="row border py-2" style=" border-radius: 10px;">
                                                        {% for product_name in product_data.product_names %}
                                                        <tr>
                                                            <td style="line-height: 10px; ">
                                                                        <span class="day-chart-shades d-inline-block grph-percent" style="background-color:{{product_name.product_color}}; margin-left: 0.2rem;"></span>
                                                                <span class="font-wt-b font-14">{{product_name.product_name}} Sale</span>
                                                            </td>
                                                        </tr>
                                                        
                                                        {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td class="day-piechart-totalsale">
                                                                {%if product_data.today_total %}
                                                                <span class="">TOTAL SALE in({{product_data.unit}}): {{product_data.today_total}}</span>
                                                                {% else %}
                                                                <span class="">TOTAL SALE in({{product_data.unit}}): 0</span>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- table chart formet of days vise sale in ltr-->
                                <div class="border border-redius-17 mt-3" id="showtabledayvise{{product_data.product_class}}" style="display: none;">
                                    <table class="w-100 table table-striped table-striped-bar-table mb-0">
                                        <thead></thead>
                                        <tbody>
                                            
                                            {% for product_name in product_data.product_names %}
                                            <tr>
                                                <td style="line-height: 10px;">
                                                    <span class="day-chart-shades d-inline-block grph-percent" style="background-color:{{product_name.product_color}} ;"></span>
                                                    <span class="font-wt-b font-14">{{product_name.product_name}} Sale</span>
                                                </td>
                                                {% if product_data.product_name_quantities %}
                                                    {% for  product_name_quantity in product_data.product_name_quantities %}
                                                        {% if product_name_quantity.product_name == product_name.product_name %}
                                                        <td style="line-height: 10px; text-align: right;">
                                                            <span class="font-wt-b font-14">{{product_name_quantity.quantity}}</span>
                                                        </td>
                                                        {%else%}
                                                        
                                                        {% endif %}
                                                    {% endfor %}
                                                {%else%}
                                                <td style="line-height: 10px; text-align: right;" >
                                                    <span class="font-wt-b font-14">0</span>
                                                </td>
                                                {%endif%}
                                                
                                            </tr>
                                            
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td class="font-14 font-wt-b"> Total <span>{{product_data.product_class}}</span> Sale</td>
                                                    {%if product_data.today_total %}
                                                    <td class="text-right font-13 dark-blue-color" style=" font-weight: 600;">{{product_data.today_total}}</td>
                                                    {% else %}
                                                    <td class="text-right font-13 dark-blue-color" style=" font-weight: 600;">0</td>
                                                    
                                                    {%endif%}
                                                
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <script>
                        
                        
                            var chartName = new CanvasJS.Chart("chartMonthlySale{{product_data.product_class}}", {
                                animationEnabled: true,
                                theme: "light2",
                
                                axisX: {
                                    valueFormat: "d m Y"
                                },
                                axisY: {
                                    valueFormat: "0"
                                },
                                toolTip: {
                                    shared: true
                                },
                                legend: {
                                    cursor: "pointer",
                                    itemclick: toggleDataSeries,
                                    color:"#0070db"
                                },
                                data: [
                                {
                                    type: "column",
                                    name: "Actual Sales",
                                    legendMarkerColor:"#0070db",
                                    showInLegend: true,
                                    xValueFormat: "d m Y",
                                    yValueFormat: "",
                                    {% if product_data.sevenDayData %}
                                        dataPoints: [
                                        {% for  sevenData in product_data.sevenDayData %}
                                        // {% if sevenData.product_class == product_data.product_class %}
                                        { x: new Date({{sevenData.year}}, {{sevenData.month}},{{sevenData.day}}), y: {{ sevenData.last_week_total }},color:"#0070db" }, 
                                        
                                        // {%else%}
                                        // { x: new Date({{sevenData.year}}, {{sevenData.month}},{{sevenData.day}}), y: 0 },
                                        // {%endif%} 
                                        {% endfor %}
                                        ]
                                    {% else %}

                                    dataPoints: [
                                    {% for  sevenData in product_data.sevenDayData %}
                                    { x: new Date({{sevenData.year}}, {{sevenData.month}},{{sevenData.day}}), y: 0 ,color:"#0070db"},
                                    {% endfor %}
                                    ]

                                    {% endif %}
                                },
                                {
                                    type: "line",
                                    name: "Planned Sales",
                                    legendMarkerColor:"#ffc107",
                                    showInLegend: true,
                                    yValueFormat: "",
                                    {% if product_data.tempSevenDayData %}
                                    dataPoints: [
                                    {% for  tempSevenData in product_data.tempSevenDayData %}
                                        // {% if tempSevenData.product_class == product_data.product_class %}
                                        { x: new Date({{tempSevenData.year}}, {{tempSevenData.month}},{{tempSevenData.day}}), y: {{tempSevenData.temp_last_week_total}},color:"#ffc107" }, 
                                        // {%else%}
                                        // { x: new Date({{tempSevenData.year}}, {{tempSevenData.month}},{{tempSevenData.day}}), y: 0 },
                                        // {%endif%} 
                                                                     
                                    {% endfor %}
                                    ]
                                    {% else %}

                                    dataPoints: [
                                    {% for  tempSevenData in product_data.tempSevenDayData %}
                                    // { x: '', y: 0 },
                                    { x: new Date({{tempSevenData.year}}, {{tempSevenData.month}},{{tempSevenData.day}}), y: 0 ,color:"#ffc107"},  
                                    {% endfor %}
                                    
                                    ]

                                    {% endif %}
                                }]
                            });
                            
                            chartName.render();
                    </script>
                    

                    <script>
                        
                        var chart = new CanvasJS.Chart("dayvisesales{{product_data.product_class}}", {
                            animationEnabled: true,
                            {% if product_data.today_total %}
                                data: [{
                                    type: "pie",
                                    indexLabelFontSize: 14,
                                    startAngle: 280,
                                    yValueFormatString: "(##0.##)\"\"",
                                    indexLabel: "{label} {y}",
                                    
                                        dataPoints: [
                                                {% for  product_name_quantity in product_data.product_name_quantities %}
                                                        {% if product_name_quantity.quantity %}
                                                        { label:"{{product_name_quantity.product_name}}" , y: {{product_name_quantity.quantity}}, color:'{{product_name_quantity.color}}' },
                                                        {% else %}
                                                        { label:"{{product_name_quantity.product_name}}" , y: 0, color:'{{product_name_quantity.color}}' },
                                                        {% endif %}
                                                {% endfor %}
                                        ]
                                    
                                }]
                                {%else%} 
                                
                                subtitles:[{
                                    text: "No {{product_data.product_class}} demand for today",
                                    verticalAlign: "center",
                                    dockInsidePlotArea: true,
                                    fontSize:20
                                }],
                                
                                toolTip: {
                                        enabled: false
                                    },
                                data: [{
                                    type: "pie",
                                    indexLabelFontSize: 6,
                                    startAngle: 280,                                   
                                    
                                        dataPoints: [
                                            { label:"" , y: 10, color:'#cacaca' },
                                        ]
                                    
                                }] 
                                                                  
                            {%endif%}                            
                        });
                        chart.render();
                        
                    </script>
                    <script>
                        function showDayvisesale(value) {
                          var x = document.getElementById("showtabledayvise"+value);
                          if (x.style.display === "none") {
                            x.style.display = "block";
                
                        } else {
                            x.style.display = "none";
                        }
                
                
                        var x = document.getElementById("hidetable"+value);
                        if (x.style.display === "none") {
                            x.style.display = "block";
                
                        } else {
                            x.style.display = "none";
                        }
                
                        var x = document.getElementById("showpieChartdayvise"+value);
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        } else {
                            x.style.display = "none";
                        }
                        var x = document.getElementById("hidepiechart"+value);
                        if (x.style.display === "none") {
                            x.style.display = "block";
                
                        } else {
                            x.style.display = "none";
                        }
                    }
                    
                
                    
                </script>
                
            </div> 
                {% endfor %}

        			</div>
        			<!-- <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a> -->
        		</div>
        	</div>
        </div>

                        

           
        </div>
    </main>
<!-- here is the party is the  -->
    {% endblock content %}
    {% block script %}
    <!-- Pie chart monthly sale -->
    
<div class="overlayModal" id="addUserModal" data-keyboard="false" data-backdrop="static">
                            
                        </div>
    
<script>
    
    function viewAttendance(){
        $('#addUserModal').html('');
        showLoader();
        $.ajax({
            url: "{% url 'src:attendance-report' %}",
            method: 'GET',
            data: {},
            success: function (data) {
                hideLoader();
                $("#addUserModal").show();
                $('#addUserModal').html(data);
                var mch = $(".modal-AddUser").height() - (($(".modal-header").outerHeight()) + ($("#modalFooter").outerHeight()));
                $("#addUserModalBody").height(mch);
                
                $("#attendance_date").datepicker({  
                    changeMonth: true,
                    changeYear: true,  
                    yearRange: "-100:+0",
                    maxDate: 0,
                    dateFormat: 'dd/mm/yy' 
                });
                
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    
    function closeModal() {
        $("#addUserModal").hide();
    }

    function filterAttendance(attendance_date){
        $.ajax({
            url: "{% url 'src:ajax-attendance-report' %}",
            method: 'GET',
            data: { attendance_date:attendance_date },
            success: function (data) {
                $('#ajaxDistributors').html(data);
            },
            error: function (err) {
            }
        });
    } 
                
    function toggleDataSeries(e) {
                                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                    e.dataSeries.visible = false;
                                } else {
                                    e.dataSeries.visible = true;
                                }
                                e.chart.render();
                            }
</script>
{% endblock %}