{% load static %}
<link rel="stylesheet" href="{% static 'css/mdtimepicker.min.css' %}">
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 p-md-0" style="background-repeat: no-repeat;text-align: center;background-color: #7492ad;background-position: bottom left;background-size: 550%;">
                <div class="transformImage">
                    <img src="{% static 'img/png/route.png' %}" class="w-500" />
                    <h4 class="modalColHead"> Edit <br> Pollution <br>Registration <br>  Details</h4>
                </div>
            </div>
            
            <div class="col-md-9 p-md-4">
                <form id="editPollution" method="POST" autocomplete="off"  action="" aria-label="Product">
                    {% csrf_token %}
                    <input type="hidden" name="pollution_id" value="{{pollution.id}}">
                    <div class="row">
                        <div class="col-md-6">
                            <h5><b> Pollution Registration Details </b></h5>
                        </div>
                        <div class="col-md-6 p-md-0">
                            <button class="btn btn-save float-right" type="button" onclick="editPollutionDetails('{{pollution.id}}')">
                                Save
                            </button>
                            <button class="btn btn-close float-right" type="button"}
                            onclick="RegistrationList('{{ pollution.vehicle_id }}')">                            Close
                        </button>
                    </div>
                </div>
                
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Certificate Sr. No*</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField alpha_numeric" type="text" placeholder="Certificate Sr. No*" name="certificate_sr_no" id="certificate_sr_no" value="{{pollution.certificate_sr_no}}"  maxlength="50" />
                        <label class="error_msg float-right" id=""></label>
                    </div>
                </div>




                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Date Of Registration*</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="Date Of Registration*" readonly name="date_of_registration" id="date_of_registration" value="{{pollution.date_of_registration|date:'d/m/Y'}}"  maxlength="50" />
                        <label class="error_msg float-right" id=""></label>
                    </div>
                </div>



                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Pollution Valid Till*</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="Pollution Validity*" readonly name="pollution_valid_till" id="pollution_valid_till" value="{{pollution.pollution_valid_till|date:'d/m/Y'}}"  maxlength="50" />
                        <label class="error_msg float-right" id=""></label>
                    </div>
                </div>
                



                 
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Copy Of Certificate</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input type="file" class="inputField" type="text" placeholder="Certificate Copy*" name="copy_of_certificate"  id="copy_of_certificate" value="{{pollution.copy_of_certificate}}" maxlength="50" /> <a target="_blank" href="{{pollution.copy_of_certificate}}">Click Here For Image</a>
                        
                        <label class="error_msg float-right" id=""></label>
                    </div>
                </div>
                


            

                
                
               
                
                    
            
                <div id="newRow">
                    
                </div>
               
                
            </form>
        </div>
    </div>
</div>
</div>

<script>

    function editPollutionDetails() {
        if(validateZoneForm()){
            hideLoader();
            return false;
        }else{
            var vehicle_id="{{vehicle.id}}";
            $form = $(this)
            var formData = new FormData(document.getElementById("editPollution"));
            $.ajax({
                url:'{% url 'src:edit-pollutionDetails' '1' %}',
                url:url.replace('1',vehicle_id),
                type: 'POST',
                data: formData,
                success: function (data) {
                    hideLoader();
                    
                    if(data.flag){
                        RegistrationList('{{ pollution.vehicle_id }}')

                    }
                    else{
                        openToaster('success',data.message)
                        window.location= ""
                    }
                },
                cache: false,
                contentType: false,
                processData: false
            });
            
        }
    }
    
    
    
    function validateZoneForm(){
        error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");
        
        if($('#certificate_sr_no').val() == ""){
            $('#certificate_sr_no').parent().find('.error_msg').text('Please Fill Certificate Serial No');
            $('#certificate_sr_no').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

        
        var a = document.getElementById("certificate_sr_no").value;
        
        if(a.length > 50){
            $('#certificate_sr_no').parent().find('.error_msg').text('Length should be less than 50');
            $('#certificate_sr_no').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

          
        var length = $.trim($("#certificate_sr_no").val()).length;
        if(length == 0){
            $('#certificate_sr_no').parent().find('.error_msg').text('Field Is Mandatory');
            $('#certificate_sr_no').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }



        
        
        if($('#date_of_registration').val() == ""){
            $('#date_of_registration').parent().find('.error_msg').text('Please Give Registration Details');
            $('#date_of_registration').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

        var a = document.getElementById("date_of_registration").value;
        
        if(a.length > 50){
            $('#date_of_registration').parent().find('.error_msg').text('Length should be less than 50');
            $('#date_of_registration').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

          
        var length = $.trim($("#date_of_registration").val()).length;
        if(length == 0){
            $('#date_of_registration').parent().find('.error_msg').text('Field Is Mandatory');
            $('#date_of_registration').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }


        
        
        if($('#pollution_valid_till').val() == ""){
            $('#pollution_valid_till').parent().find('.error_msg').text('Please Give Pollution Validity');
            $('#pollution_valid_till').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

        var a = document.getElementById("pollution_valid_till").value;
        
        if(a.length > 50){
            $('#pollution_valid_till').parent().find('.error_msg').text('Length should be less than 50');
            $('#pollution_valid_till').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

          
        var length = $.trim($("#pollution_valid_till").val()).length;
        if(length == 0){
            $('#pollution_valid_till').parent().find('.error_msg').text('Field Is Mandatory');
            $('#pollution_valid_till').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }

        
        if($('#copy_of_certificate').val() != ""){
            var ext = $('#copy_of_certificate').val().split('.').pop().toLowerCase();
            var oFile = document.getElementById("copy_of_certificate").files[0]; 
            if($.inArray(ext, ['png','jpg','jpeg']) == -1 ) {
                $('#copy_of_certificate').parent().find('.error_msg').text('Only PNG and JPEG are allowed.');
                $('#copy_of_certificate').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
                error = error + 1;
            }
            if (oFile.size > 5242880) 
            {
                $('#copy_of_certificate').parent().find('.error_msg').text(' Image file should not be more than 5 MB ');
                $('#copy_of_certificate').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
                error = error + 1;
            }
            
        }


        
        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
    function validateDateRange(){
        if($("#pollution_valid_till").val() != "" && $("#date_of_registration").val() != ""){
                date_of_registration = new Date(getDateFormat($("#date_of_registration").val()));
                pollution_valid_till = new Date(getDateFormat($("#pollution_valid_till").val()));
                $('.error_msg').text('');
                $('[name="date_of_registration"]').css("border", "");
                $('[name="pollution_valid_till"]').css("border", "");
    
                if(date_of_registration > pollution_valid_till){
                    $('[name="pollution_valid_till"]').parent().find('.error_msg').text('Date Should Be More Than Registration Date');
                    $('[name="pollution_valid_till"]').css("border", "1px solid #db8305");
                    $("#pollution_valid_till").val('')
                    return false;
                }
                }
    }


    function getDateFormat(date){
        var dateTemp = date.split('/');
        date = dateTemp[2]+'-'+dateTemp[1]+'-'+dateTemp[0]
        return date
    }
    
    
    
    
    $("#date_of_registration").datepicker({  
        changeMonth: true,
        changeYear: true,  
        yearRange: "-100:+10",
        dateFormat: 'dd/mm/yy',
        onSelect: function () {
         validateDateRange();
        }
    });
    
    $("#pollution_valid_till").datepicker({  
        changeMonth: true,
        changeYear: true,  
        yearRange: "-100:+10",
        dateFormat: 'dd/mm/yy',
        onSelect: function () {
         validateDateRange();
        }
        
    });



    
</script>