{% load static %}
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 p-md-0" style="background-repeat: no-repeat;text-align: center;background-color: #0073e0;background-position: bottom left;background-size: 80%;">
                <div class="transformImage">
                    <img src="{% static 'img/png/new_Variant.png' %}" class="w-50" />
                    <h4 class="modalColHead">Add Product</h4>
                </div>
            </div>
            
            <div class="col-md-9 p-md-4">
                <form id="addProductForm" method="POST" autocomplete="off" action="" aria-label="Product">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <div class="row">
                        <div class="col-md-6">
                            <h5><b>Product details </b></h5>
                        </div>
                        <div class="col-md-6 p-md-0">
                            <button class="btn btn-save float-right" type="button" onclick="updateProduct()">
                                Save
                            </button>
                            <button class="btn btn-close float-right" type="button"
                            onclick="manipulateModal('addProductModal','close')">
                            Close
                        </button>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Product Class</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField" style="width: 100%;" name="product_class_id" id="product_class_id">
                            <option value="">Select</option>
                            {% for product_class in product_classes %}
                            <option value="{{product_class.id}}" {% if product.product_class_id == product_class.id %}selected{% endif %}>{{product_class.product_class}}</option>
                            {% endfor %}
                        </select>
                        <label class="error_msg float-right" id=""></label>
                    </div>
                </div>
                
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Product Name</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="Product Name*"
                        id="product_name" name="product_name" maxlength="50" value="{{product.product_name}}" />
                        <label class="error_msg float-right" id="product_name_error"></label>
                    </div>
                </div>
                
                <!-- <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Container</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField" style="width: 100%;" name="product_container_id" id="product_container_id">
                            <option value="">Select</option>
                            {% for product_container in product_containers %}
                            <option value="{{product_container.id}}" {% if product.container_id == product_container.id %}selected{% endif %}>{{product_container.container}}</option>
                            {% endfor %}
                        </select>
                        <label class="error_msg float-right" id=""></label>
                    </div>
                </div> -->

                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Product Color code</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        
                        <select class="inputField selectField" style="width: 100%;" name="product_color_code" id="product_color_code">
                            <option value="">Select</option>
                            {% for color_code in color_codes %}
                            <option value="{{color_code.code}}" {% if color_code.code == product.product_color_code %}selected{% endif %} style="color: {{color_code.code}};">{{color_code.color}}</option>
                            {% endfor %}
                        </select>
                        <label class="error_msg float-right" id=""></label>
                        
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Product description</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <textarea class="inputField" name="description" placeholder="Product description" cols="5" rows="3" maxlength="200">{{product.description}}</textarea>
                        <label class="error_msg float-right" id=""></label>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>

<script>
    var product_id = "{{product.id}}";
    function updateProduct() {
        showLoader();
        if(validateProductForm()){
            hideLoader();
            return false;
        }else{
            url = "{% url 'src:edit-product' 1 %}";
            url = url.replace(1,product_id)
            $.ajax({
                url: url,
                method: 'POST',
                data: $('#addProductForm').serialize(),
                success: function (data) {
                    hideLoader();
                    if(data.flag){

                        $("#addProductModal").html('');
                        $("#addProductModal").hide();
                        
                        openToaster("success", data.message);
                        setTimeout(function(){ window.location.reload(); }, 500);
                    }else{
                        openToaster("danger", data.message);
                    }
                },
                error: function (err) {
                    hideLoader();
                    console.log(err)
                }
            }).always(function() {
                // hideLoader();
            });
        } 
    }
    
    
    function validateProductForm(){
        error = 0;
        $('.error_msg ').text('');
        $('.inputField').css("border", "");
        if($.trim($('[name="product_name"]').val()) == ""){
            $('[name="product_name"]').parent().find('.error_msg').text('Please enter product name');
            $('[name="product_name"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        if($('[name="product_class_id"]').val() == ""){
            $('[name="product_class_id"]').parent().find('.error_msg').text('Please select product class');
            $('[name="product_class_id"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }
        // if($('[name="product_container_id"]').val() == ""){
        //     $('[name="product_container_id"]').parent().find('.error_msg').text('Please select container');
        //     $('[name="product_container_id"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
        //     error = error + 1;
        // }

        if($('[name="product_color_code"]').val() == ""){
            $('[name="product_color_code"]').parent().find('.error_msg').text('Please select product color');
            $('[name="product_color_code"]').siblings(".select2-container").css("border", "1px solid #db8305").css("border-radius", "0.6rem");
            error = error + 1;
        }
        if($('[name="description"]').val()!='' && $.trim($('[name="description"]').val()) == ""){
            $('[name="description"]').parent().find('.error_msg').text('Only Space not allowed in description');
            $('[name="description"]').css("border", "1px solid #db8305");
            error = error + 1;
        }
        if(error > 0){
            return true;
        }else{
            return false;
        }
    }
    
</script>