{% load helper_tags %}
{% load static %}

{% if today_order_status > 0 %}
{% if user_list %}
<table id="addOrgTable" class="table table-bordered mt-0" style="width: 100%; float: right;">
    <thead>
        <tr>
            <th >Sr. No. </th>
            <th style="width: 130px;">Date </th>
            <th>Store Name(Distributor/SS Name) </th>
            <th>Order Code </th>
            <th>Order Amount </th>
            {% comment %} <th>Flat Incentive </th>
            <th>Bulk Pack Incentive</th>
            <th>Total Incentive</th> {% endcomment %}
            <th>Invoice Amount</th>
            <th>Download Invoice</th>
        </tr>
    </thead>
    <tbody>
        {% if user_list %}
        {% for user in user_list %}
        <tr>
            <td text-align="center">{{ forloop.counter }}.</td>
            <td >{{ user.order_date }}</td>
            <td>{{ user.store_name }}({{ user.user_name }}/{{user.emp_sap_id}})</td>
            <td>{{ user.order_code }}</td>
            <td>{{ user.order_amount|floatformat:2}} </td>
            {% comment %} <td>{{ user.flat_incentive }} </td>
            <td>{{ user.bulkpack_incentive }}</td>
            <td>{% sum user.flat_incentive user.bulkpack_incentive %}</td> {% endcomment %}
            <td>{{ user.invoice_amount|floatformat:2 }}</td>
            <td>
                    {% if user.withoutgst == 1 %}
                    {% if user.bill_invoice_pdf %}
                    <a href="{{user.bill_invoice_pdf}}"download>Download BOS |</a>
                    {% else %}
                    <span id="Bill_{{ user.user_id }}_{{ user.order_date }}"><a href="javascript:void(0)"
                    onclick="genrateInvoice('{{ user.user_id }}', '{{ user.order_date }}','{{user.production_unit_id}}','bill', 'Bill')">Generate BOS |</a>
                    </span>
                    {% endif %}
                    {% else %}
                    {% endif %}
                    {% if user.withgst == 1 %}
                    {% if user.tax_invoice_pdf %}
                    <a href="{{user.tax_invoice_pdf}}"download>Download TI </a>
                    {% else %}
                    <span id="Tax_{{ user.user_id }}_{{ user.order_date }}"><a href="javascript:void(0)"
                    onclick="genrateInvoice('{{ user.user_id }}', '{{ user.order_date }}','{{user.production_unit_id}}','tax', 'Tax')">Generate TI</a>
                    </span>
                    {% endif %}
                    {% else %}
                    {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% else %}
<p style="padding:1.65rem!important; text-align:center; box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15); font-size:20px; color: red; ">No Record Found...</p>
{% endif %}
{% else %}
<p style="padding:1.65rem!important; text-align:center; box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15); font-size:20px; color: red; ">No Record Found...</p>
{% endif %}