{% load helper_tags %}
<style>
    .header-title h2,
    .header-title h3 {
        display: inline-block;
    }
    h3 {
        font-size: 18px;
        text-align: center;
        padding: 15px 0px 0px 0px;
        margin: 0px;
    }
    
    table {
        width: 750px;
        border-collapse: collapse;
        margin: 0px auto;
    }
    
    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }
    
    th {
        background: #3498db;
        color: #000000;
        font-weight: bold;
    }
    
    th {
        padding: 2px;
        border: 1px solid #ccc;
        text-align: left;
        font-size: 9px;
    }
    
    td {
        padding: 2px;
        border: 1px solid #ccc;
        text-align: left;
        font-size: 9px;
    }
    
    @page {
        size: letter portrait;
        margin: 1cm 1cm 1cm 1cm;
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 200pt; width: 512pt; top: 772pt; height: 20pt;
            
        }
    }
    .header tr th{
        border: none;
    }
    .header tr td{
        border: none;
    }
    @page title_template { margin: 5cm; }
    @page regular_template { margin: 2cm; }
</style>

{% if user_list %}
{% for user in user_list %}
<div class="col-md-12" style="padding: 10px; border: 1px solid #cccccc;">
    <div class="col-md-12" style="text-align: center; font-size:14px; text-decoration: underline;">TAX INVOICE</div>
    
    <table id="addOrgTable" class="table table-bordered mt-0" style="width: 100%; float: right;">
        <thead>
            <tr>
                <th colspan="5">
                    <table style="float: left; border: none;" class="header">
                        <tr><th style="vertical-align: top;">Company Name: </th><td>{{ co_name }}</td></tr>
                        <tr><th style="vertical-align: top;">Company Address: </th><td>{{ co_address }}</td></tr>
                        <tr><th style="vertical-align: top;">GST No.: </th><td>{{ gstin }}</td></tr>
                        <tr><th style="vertical-align: top;">CIN: </th><td>{{ cin }}</td></tr>
                    </table>
                </th>
                <th colspan="5" style="vertical-align: top;">
                    <table style="float: right; border: none;" class="header">
                        <tr><th style="vertical-align: top;">Invoice No. </th><td>{{ user.order_code }}-00{{ forloop.counter }}</td></tr>
                        <tr><th style="vertical-align: top;">Date: </th><td>{{ today_date }}</td></tr>
                        <tr><th style="vertical-align: top;">&nbsp;</th><td>&nbsp;</td></tr>
                        <tr><th style="vertical-align: top;">&nbsp; </th><td>&nbsp;</td></tr>
                    </table>
                </th>
            </tr>
            <tr>
                <th colspan="5" style="vertical-align: top;">
                    <table style="float: left; border: none; margin-top: 5px;;" class="header">
                        <tr><th style="vertical-align: top;">Consignee Name: </th><td>({{user.sap_code}}) {{ user.store_name }}</td></tr>
                        <tr><th style="vertical-align: top;">Consignee Address: </th><td>{{ user.address }}, {{ user.state_name }}</td></tr>
                        <tr><th style="vertical-align: top;">GST No.: </th><td>{{ user.gstin }}</td></tr>
                        <tr><th style="vertical-align: top;">&nbsp;</th><td>&nbsp;</td></tr>
                        <tr><th style="vertical-align: top;">&nbsp; </th><td>&nbsp;</td></tr>
                    </table>
                </th>
                <th colspan="5" style="vertical-align: top;">
                    <table style="float: right; border: none;" class="header">
                        <tr><th style="vertical-align: top;">Route No.: </th><td>{{ user.route_no }}</td></tr>
                        <tr><th style="vertical-align: top;">Route Name: </th><td>{{ user.route_name }}</td></tr>
                        <tr><th style="vertical-align: top;">Transporter Details: </th><td>{% if user.transporter_name %}{{ user.transporter_name }}{% else %}-{% endif %}</td></tr>
                        <tr><th style="vertical-align: top;">Transporter Name: </th><td>{% if user.transporter_details %}{{ user.transporter_details }}{% else %}-{% endif %}</td></tr>
                        <tr><th style="vertical-align: top;">Vehicle No.: </th><td>{% if user.vehicle_no %}{{ user.vehicle_no }}{% else %}-{% endif %}</td></tr>
                   </table>
                </th>
            </tr>
            <tr>
                <th align="center">Sr. No. </th>
                <th>HSN Code </th>
                <th>Product Description </th>
                <th>Tax</th>
                <th>Qty</th>
                <th>Qty(L/Kg)</th>
                <th>Rate/Per</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Net Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for order in user.orders %}
            <tr>
                <td align="center">{{ forloop.counter }}.</td>
                <td>{{ order.hsn_code }}</td>
                <td>{{ order.product_variant_name }} </td>
                <td>{% if order.gst %}{{ order.gst }}% {% else %} - {% endif %} </td>
                <td>{{ order.quantity }} {% if order.packaging_type == '0' %} {{ order.product_container_type }} {% else %} {{ order.product_packaging_type_name }} {% endif %}</td>
                <td>{{ order.quantity_in_ltr }} {{ order.unit_name }}</td>
                <td>{{ order.basic_price }} / {{ order.unit_name }}</td>
                <td>{{ order.gross_amount }}</td>
                <td>{{ order.discount_amount }}</td>
                <td>{{ order.net_amount }}</td>
            </tr>
            {% if order.free_scheme > 0 %}
            <tr>
                <td align="center"> </td>
                <td> </td>
                <th colspan="2">{{order.free_scheme_text}}</th>
                <td>{{ order.free_scheme }} {{ order.free_scheme_packaging_type }}</td>
                <td>{{ order.free_scheme_in_ltr }} {{ order.free_scheme_container_size }}</td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        <tfoot>
            <!-- <tr>
                <th colspan="3" style="float: right;"> </th>
                <th>Total</th>
                <th>{{user.quantity}} </th>
                <th>{{user.no_of_pouches}}</th>
                <th>{{user.rate}}</th>
                <th>{{user.total_incentive}} </th>
                <th> </th>
                <th>{{user.total_amount}}</th>
            </tr> -->
            <tr>
                <th colspan="8" style="float: right;"> </th>
                <th>Total</th>
                <th>{{user.net_amount}}</th>
            </tr>
            {% if user.inter_state == 0 and user.taxable_value_total > 0 %}
            <tr>
                <th colspan="7">&nbsp; </th>
                <th>Add : </th>
                <th> CGST </th>
                <th>{{ user.cgst }}</th>
            </tr>
            <tr>
                <th colspan="8">&nbsp; </th>
                <th > SGST </th>
                <th>{{ user.sgst }}</th>
            </tr>
            {% elif user.inter_state == 1 and taxable_value_total > 0 %}
            <tr>
                <th colspan="7">&nbsp; </th>
                <th>Add : </th>
                <th> IGST </th>
                <th>{{user.total_gst}}</th>
            </tr>
            {% endif %}
            <tr>
                <th colspan="5" style="float: right;"> </th>
                <th colspan="4" style="text-align: right;">Round off&nbsp;</th>
                <th>{% subtract user.total_amount user.final_amount %}</th>
            </tr>
            <tr>
                <th colspan="5" style="float: right;"> </th>
                <th colspan="4" style="text-align: right;">Total Bill Amount&nbsp;</th>
                <th>{{ user.final_amount }}</th>
            </tr>
            
            <tr>
                <th colspan="10" style="line-height: 15px; float: left; vertical-align: middle;"> 
                    Amount Chargeable (in Words): INR &nbsp; &nbsp; &nbsp; &nbsp; {{user.billing_amount|title }} Only
                </th>
            </tr>
            {% if user.taxable_values %}
            <tr>
                <th colspan="10">
                    <table class="table table-bordered mt-0">
                    <thead>
                        <tr>
                            <th align="center" rowspan="2"> HSN/SAC   </th>
                            <th align="center" rowspan="2"> Taxable Value </th>
                            {% if user.inter_state == 0 and user.taxable_value_total > 0 %}
                            <th colspan="2" align="center"> Central Tax </th>
                            <th colspan="2" align="center"> State Tax </th>
                            {% elif user.inter_state == 1 and user.taxable_value_total > 0 %}
                            <th colspan="2" align="center"> Integrated Tax </th>
                            {% endif %}
                            <th align="center" rowspan="2"> Total Tax Amount </th>
                        </tr>
                        <tr>
                            {% if user.inter_state == 0 and user.taxable_value_total > 0 %}
                            <th align="center"> Rate </th>
                            <th align="center"> Amount </th>
                            <th align="center"> Rate </th>
                            <th align="center"> Amount </th>
                            {% elif user.inter_state == 1 and user.taxable_value_total > 0 %}
                            <th align="center"> Rate </th>
                            <th align="center"> Amount </th>
                            {% endif %}
                           
                        </tr>
                    </thead>
                    <tbody style="font-weight: 100;">
                        {% for taxable in user.taxable_values %}
                        <tr>
                            <td align="center"> {{ taxable }} </td>
                            <td align="center"> {{ user.taxable_values|index:taxable }} </td>
                            {% if user.inter_state == 0 and user.taxable_value_total > 0 %}
                            <td align="center"> {{ user.rate_values|index:taxable }}% </td>
                            <td align="center"> {{ user.cgst_values|index:taxable }} </td>
                            <td align="center"> {{ user.rate_values|index:taxable }}% </td>
                            <td align="center"> {{ user.sgst_values|index:taxable }} </td>
                            {% elif user.inter_state == 1 and user.taxable_value_total > 0 %}
                            <td align="center"> {{ user.rate_values|index:taxable }} </td>
                            <td align="center"> {% sum user.sgst_values|index:taxable user.cgst_values|index:taxable %} </td>
                            {% endif %}
                            <td align="center"> {% sum user.sgst_values|index:taxable user.cgst_values|index:taxable %} </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tr>
                            <th align="center"> Total </th>
                            <th align="center"> {{ user.taxable_value_total }} </th>
                            {% if user.inter_state == 0 and user.taxable_value_total > 0 %}
                            <th align="center"> &nbsp; </th>
                            <th align="center"> {{ user.cgst_value_total }} </th>
                            <th align="center"> &nbsp; </th>
                            <th align="center"> {{ user.sgst_value_total }} </th>
                            {% elif user.inter_state == 1 and user.taxable_value_total > 0 %}
                            <th align="center"> &nbsp; </th>
                            <th align="center"> {% sum user.cgst_value_total user.sgst_value_total %} </th>
                            {% endif %}
                            <th align="center"> {% sum user.cgst_value_total user.sgst_value_total %} </th>
                        </tr>
                    </table>
                </th>
            </tr>
            <tr>
                <th colspan="10" style="line-height: 15px; float: left; vertical-align: middle;"> 
                    Tax Amount (in Words): INR &nbsp; &nbsp; &nbsp; &nbsp; {{user.gst_amount_in_words|title }} {% if user.total_gst_value == '1' %} And {{user.total_gst_value_in_words|title }} Paise {% endif %} Only
                </th>
            </tr>
            {% endif %}
            <tr>
                <th colspan="5" style="vertical-align: top;">
                    <table style="float: left; border: none;" class="header">
                        <tr><th style="vertical-align: top;"><h4>Declaration</h4> </th></tr>
                        <tr><td>We declare that this invoice shows the actual price of
                            the goods described and that all particulars are true and
                            correct.
                        </td></tr>
                    </table>
                </th>
                <th colspan="5">
                    <table style="float: right; border: none;" class="header">
                        <tr><th style="vertical-align: top;" colspan="2">Company Bank Details </th></tr>
                        <tr><td style="vertical-align: top;">Bank A/c No.   </td><th style="vertical-align: top;">{{co_bank_account_no}}  </th>
                            <td style="vertical-align: top;">Bank Name     </td><th style="vertical-align: top;"> {{co_bank_name}}   </th></tr>
                        <tr><td style="vertical-align: top;">Branch Name   </td><th style="vertical-align: top;">{{co_bank_branch_name}}  </th>
                            <td style="vertical-align: top;">IFSC Code    </td><th style="vertical-align: top;"> {{co_bank_ifsc}}   </th></tr>
                            
                        <tr style="border-top: 1px solid #ccc;"><th style="vertical-align: top; text-align: center;" colspan="4">For : {{ co_footer_name }}</th></tr>
                        <tr><th style="vertical-align: top; text-align: center;" colspan="4">&nbsp;</th></tr>
                        <tr><th style="vertical-align: top; text-align: center;" colspan="4">&nbsp;</th></tr>
                        <tr><th style="vertical-align: top; text-align: center;" colspan="4">&nbsp;</th></tr>
                        <tr><th style="vertical-align: top; text-align: center;" colspan="4">Authorised Signatory</th></tr>
                    </table>
                </th>
            </tr>
        </tfoot>
    </table>
    
</div>

<div>
    <pdf:nextpage /> 
</div> 
{% endfor %}
{% endif %}