{% extends 'layout/layout.html' %}

{% load helper_tags %}

{% block content %}

{% load static %}

{% block style %} 
<style>
    
    
</style>
{% endblock %}

<div class="row" id="containerHeight">
    <div class="col-md-8 pr-md-0 h-100">
        <div class="primaryContainer h-100" id="mainbox">
            <div class="row mb-2" id="topRow">
                <div class="col-md-3 p-md-0">
                    <h6><b>{{page_title}} &nbsp;&nbsp;</b><span class="fa fa-star add_to_fav {% checkedFavorite page_title request.get_full_path %}" onclick="updateFavorite(this,'{{page_title}}','{{ request.get_full_path }}')"></span></h6>
                </div>
                <div class="col-md-9 p-md-0">
                    <div class="row mb-2 mt-2" id="secondRow">
                        <div class="col-md-12 p-md-0 text-right">
                            <input class="search searchTable" style="width: 30%;" placeholder="Search" type="search" name="search" id="order_search" data-column="all" >
                            
                            <div class="dropdown" style="display: inline-block;">
                                <button class="btn iconBox iconExport" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right logoutContainer"
                                aria-labelledby="dropdownMenuButton">
                                
                                <input type="hidden" name="show_columns" id="show_columns" value="" >
                                
                                <a class="dropdown-item logoutItem" onclick="exports('excel')" href="javascript:void(0)">Export to Excel &nbsp;&nbsp;<img
                                    src="{% static 'img/svg/XLS.svg' %}" class="logoutIcons" /> </a>
                                    <a class="dropdown-item logoutItem" onclick="exports('pdf')" href="javascript:void(0)">Export to Pdf &nbsp;&nbsp;<img
                                        src="{% static 'img/svg/PDF.svg' %}" class="logoutIcons" /> </a>
                                    </div>
                                </div>
                                <div class="dropdown show-hide" style="display: inline-block;" id="hideColumn">
                                    <button class="btn iconBox iconHide" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu dropdown-menu-right logoutContainer"
                                    aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item columnHideItem">
                                        <input type="checkbox" class="colCheck" name="user_name" id="user_name" data-id="1"
                                        onclick="showHideColumns(this.id,2)"
                                        />
                                        <label class="mb-0" for="user_name">User Name</label>
                                    </a>
                                    
                                    
                                    <a class="dropdown-item columnHideItem">
                                        <input type="checkbox" class="colCheck" name="order_id" id="order_id" data-id="4"
                                        onclick="showHideColumns(this.id, 7)"
                                        />
                                        <label class="mb-0" for="order_id">Order#</label>
                                    </a>
                                    
                                    <a class="dropdown-item columnHideItem">
                                        <input type="checkbox" class="colCheck" name="reason" id="reason" data-id="4"
                                        onclick="showHideColumns(this.id, 7)"
                                        />
                                        <label class="mb-0" for="reason">Reason</label>
                                    </a>
                                    
                                </div>
                            </div>
                            
                            <div class="dropdown fixed-column" style="display: inline-block;" id="lockColumn">
                                <button class="btn iconBox iconUnFreeze" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right logoutContainer"
                                aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item columnHideItem">
                                    <input type="checkbox" class="colFreezeCheck" name="user_name" id="lock_registration_number" data-id="1"
                                    onclick="toggleFreeze(this.id,'user_name',1)" />
                                    <label class="mb-0" for="lock_registration_number">User Name</label>
                                </a>
                                
                                <a class="dropdown-item columnHideItem">
                                    <input type="checkbox" class="colFreezeCheck" name="order_id" id="lock_order_id" data-id="4"
                                    onclick="toggleFreeze(this.id,'order_id',7)" />
                                    <label class="mb-0" for="lock_order_id">Order#</label>
                                </a>
                                
                                <a class="dropdown-item columnHideItem">
                                    <input type="checkbox" class="colFreezeCheck" name="reason" id="lock_reason" data-id="4"
                                    onclick="toggleFreeze(this.id,'reason',7)" />
                                    <label class="mb-0" for="lock_reason">Reason</label>
                                </a>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="tableBox">
            <div class="col-md-12 primaryContainerBG h-100 p-0 commonTableBg" id="ajax-div">
                <input type="hidden" name="page" id="page" value="2" />
                <input type="hidden" name="page_status" id="page_status" value="0" />
                <input type="hidden" name="total_pages" id="total_pages" value="{{ total_pages }}" />
                <table id="addOrgTable" class="table table-borderless table-striped table-hover mt-0"
                style="width: 100%;">
                <thead>
                    <tr>
                        <th class="user_name" id="user_name">
                            User Name
                            <i class="fa fa-fw fa-sort float-right"></i>
                            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                        </th>
                        
                        <th class="order_id" id="order_id">Order#<i class="fa fa-fw fa-sort float-right"></i>
                            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                        </th>
                        
                        <th class="reason" id="reason">Reason<i class="fa fa-fw fa-sort float-right"></i>
                            <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                            <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                        </th>
                    </tr>
                </thead>
                
                <tbody id="tablebody">
                    {% if grievances %}
                    {% for grievance in grievances %}
                    <tr {% if forloop.first %} class="odd selected" {% endif %}>
                        <td class="user_name" onclick="getGrievanceDetails('{{ grievance.id }}')">{{ grievance.first_name }} {{ grievance.middle_name }} {{ grievance.last_name }} <br>
                            <b>{{ grievance.store_name }}</b>
                        </td>
                        <td class="order_id" onclick="getGrievanceDetails('{{ grievance.id }}')">{% if grievance.order_code is not None %}{{ grievance.order_code }}{% else %}-{% endif %}</td>
                        <td class="reason" onclick="getGrievanceDetails('{{ grievance.id }}')">{% if grievance.reason_name is not None %}{{ grievance.reason_name }}{% else %}-{% endif %}</td>
                    </tr>
                    {% endfor %}
                    <tr id="loading" style="display: none;">
                        <td class="text-center" colspan="3"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3" style="text-align: center;">No Record Found...</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<div class="col-md-4 h-100">
    <div class="primaryContainerBG h-100" id="detailsBox">
        {% if grievances %}
        <div class="col-12 p-0 col-md-12 p-md-0">
            <div class="row">
                <div class="col-md-2 p-md-0">
                    {% if first_grievance.store_image is None or first_grievance.store_image == 'None'%}
                    <img src="/static/img/png/storePic.png" style="width:100%; height: 50px;">
                    {% else %}
                    <img src="{{first_grievance.store_image}}" style="width:100%; height: 50px;">
                    {% endif %}
                </div>
                <div class="col-9 p-0 col-md-9 p-md-0">
                    <div class="row">
                        <div class="col-9 col-md-9">
                            <h5 class="m-0"><b style="color: #009cff;">{{ grievance.first_name }} {{ grievance.middle_name }} {{ grievance.last_name }} </b></h5>
                            <h6 class="m-0">{{first_grievance.store_name}}</h6>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="col-12 p-0 mt-4 col-md-12 p-md-0 mt-md-4">
                    <div class="row mb-md-2">
                        <div class="col-8 p-0 col-md-8 p-md-0">
                            <div class="row">
                                <div class="col-12 p-0 col-md-12 p-md-0 mt-3">
                                    <div class="row">
                                        <div class="col-1 p-0 col-md-1 p-md-0">
                                            <img src="/static/img/svg/address.svg" class="profileIconSize">
                                        </div>
                                        <div class="col-11 p-0 col-md-11 p-md-0">
                                            <h6 class="smallText">Reason</h6>
                                            <h6 class="largeText">{% if first_grievance.reason_name %} {{first_grievance.reason_name}} {% else %} - {% endif %}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12 p-0 col-md-12 p-md-0 mt-3">
                                    <div class="row">
                                        <div class="col-1 p-0 col-md-1 p-md-0">
                                            <img src="/static/img/svg/address.svg" class="profileIconSize">
                                        </div>
                                        <div class="col-11 p-0 col-md-11 p-md-0">
                                            <h6 class="smallText">Description</h6>
                                            <h6 class="largeText"> {% if first_grievance.description %} {{first_grievance.description}} {% else %} - {% endif %}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12 p-0 col-md-12 p-md-0 mt-3">
                                    <div class="row">
                                        <div class="col-1 p-0 col-md-1 p-md-0">
                                            <img src="/static/img/svg/address.svg" class="profileIconSize">
                                        </div>
                                        <div class="col-11 p-0 col-md-11 p-md-0">
                                            <h6 class="smallText">Attachment</h6>
                                            {% if first_grievance.attachment is not None %}
                                            <img src="{% if first_grievance.attachment is not None %} {{first_grievance.attachment}}{% endif %}" alt="" style="height: 110px;">
                                            {% else %}
                                            -
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
        {% else %}
        <p style="text-align: center; color: red;">No Record Found...</p>
        {% endif %}
    </div>
</div>
</div>

<!-- *************************************Modal********************************** -->
<div class="overlayModal" id="addUserModal" style="display: none;">
    
</div>



<!-- *************************************Modal********************************** -->
{% endblock content %}
{% block script %}

<script>
    
    
    function addVehicle() {
        $('#addUserModal').html('');
        showLoader();
        $.ajax({
            url: "{% url 'src:add-vehicle-basic' %}",
            method: 'GET',
            data: {},
            success: function (data) {
                hideLoader();
                $("#addUserModal").show();
                $('#addUserModal').html(data);
                $('.selectField').select2();
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    
    function editVehicleBasic(id) {
        $('#addUserModal').html('');
        showLoader();
        url = "{% url 'src:edit-vehicle-basic' '1' %}";
        url = url.replace('1',id)
        $.ajax({
            url: url,
            method: 'GET',
            success: function (data) {
                hideLoader();
                $("#addUserModal").show();
                $('#addUserModal').html(data);
                $('.selectField').select2();
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    
    function editVehicleRoute(id) {
        $('#addUserModal').html('');
        showLoader();
        url = "{% url 'src:edit-vehicle-route' '1' %}";
        url = url.replace('1',id)
        $.ajax({
            url: url,
            method: 'GET',
            success: function (data) {
                hideLoader();
                $("#addUserModal").show();
                $('#addUserModal').html(data);
                $('.selectField').select2();
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    
    function editVehicleCredential(id) {
        $('#addUserModal').html('');
        showLoader();
        url = "{% url 'src:edit-vehicle-credential' '1' %}";
        url = url.replace('1',id)
        $.ajax({
            url: url,
            method: 'GET',
            success: function (data) {
                hideLoader();
                $("#addUserModal").show();
                $('#addUserModal').html(data);
                $('.selectField').select2();
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    
    
    function editVehicleRegistration(id) {
        $('#addUserModal').html('');
        showLoader();
        url = "{% url 'src:edit-vehicle-registration' '1' %}";
        url = url.replace('1',id)
        $.ajax({
            url: url,
            method: 'GET',
            success: function (data) {
                hideLoader();
                $("#addUserModal").show();
                $('#addUserModal').html(data);
                $('.selectField').select2();
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    
    function editVehicleOther(id) {
        $('#addUserModal').html('');
        showLoader();
        url = "{% url 'src:edit-vehicle-other' '1' %}";
        url = url.replace('1',id)
        $.ajax({
            url: url,
            method: 'GET',
            success: function (data) {
                hideLoader();
                $("#addUserModal").show();
                $('#addUserModal').html(data);
                $('.selectField').select2();
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    
    
    function exports(type){
        var columns = $('#show_columns').val();
        if(columns == ''){
            openToaster("danger", "Please select at-least one column");
        } else {
            if(type == 'excel'){
                var url = "{% url 'src:export-grievance-to-xlsx' 'columns' %}";
                url = url.replace('columns',columns);
                window.location.href = url;
            } else {
                var url = "{% url 'src:export-grievance-to-pdf' 'columns' %}";
                url = url.replace('columns',columns);
                window.location.href = url;
            }
        }
        
    }
    
    function freezeColumn(id, colNo) {
        $('#' + id).addClass("frezedIcon frezedCell");
        $("#addOrgTable tbody tr").each(function (index) {
            $("#addOrgTable tbody tr td:nth-child(" + colNo + ")").addClass("frezedCell");
            $("#addOrgTable tbody tr td:nth-child(" + colNo + ")").attr("data-sorter", "false");
        });
        $('#' + id + ' #freeze').show();
        $('#' + id + ' #unfreeze').hide();
    }
    
    function unfreezeColumn(id, colNo) {
        $('#' + id).removeClass("frezedIcon frezedCell");
        $("#addOrgTable tbody tr").each(function (index) {
            $("#addOrgTable tbody tr td:nth-child(" + colNo + ")").removeClass("frezedCell");
            $("#addOrgTable tbody tr td:nth-child(" + colNo + ")").attr("data-sorter");
        });
        $('#' + id + ' #unfreeze').show();
        $('#' + id + ' #freeze').hide();
    }
    
    function toggleFreeze(inputid, colid, colNo) {
        var checkbox = document.getElementById(inputid);
        
        if (checkbox.checked == true) {
            $("#addOrgTable thead tr th:nth-child(" + colNo + ")").addClass("frezedCell sorter-false");
            $("#addOrgTable tbody tr").each(function (index) {
                $("#addOrgTable tbody tr td:nth-child(" + colNo + ")").addClass("frezedCell");
                $("#addOrgTable tbody tr td:nth-child(" + colNo + ")").addClass("sorter-false");
            });
            $('#' + colid + ' #freeze').show();
            $('#' + colid + ' #unfreeze').hide();
        } else {
            $("#addOrgTable thead tr th:nth-child(" + colNo + ")").removeClass("frezedCell sorter-false");
            $("#addOrgTable tbody tr").each(function (index) {
                $("#addOrgTable tbody tr td:nth-child(" + colNo + ")").removeClass("frezedCell");
                $("#addOrgTable tbody tr td:nth-child(" + colNo + ")").removeClass("sorter-false");
            });
            $('#' + colid + ' #unfreeze').show();
            $('#' + colid + ' #freeze').hide();
        }
    }
    
    function showHideColumns(inputid, colNo) {
        var checkbox_val = [];
        var checkbox = document.getElementById(inputid);
        if (checkbox.checked == true) {
            $('.'+inputid).hide();
        }else{
            $('.'+inputid).show();
        }
        $("input:checkbox[class=colCheck]").each(function () {
            if(!$(this).is(':checked')){
                checkbox_val.push($(this).attr("id"))
            }
        });
        checkbox_str = checkbox_val.join(',');
        $('#show_columns').val(checkbox_str);
    }
    
    $(document).ready(function () {
        setHeightWidth();
        
        $('#addOrgTable').tablesorter({
            widgets: ["zebra", "filter", "resizable", "stickyHeaders"],
            widgetOptions: {
                resizable_addLastColumn: true,
                resizable: false,
                resizable_widths: ["20%","20%","20%","15%","25%"],
                stickyHeaders_attachTo: ".primaryContainerBG",
                filter_external: '.search',
                filter_columnFilters: false,
            }
        });
        $("#addOrgTable tbody tr").click(function () {
            $(this).addClass("selected").siblings().removeClass("selected");
        });
        
        $(".primaryContainerBG").scroll(function () {
            var divTable = $(".primaryContainerBG");
            $(".frezedCell").css("left", 0 + divTable.scrollLeft());
        });
        
        
    });
    
    $(document).ready(function () {
        var checkbox_val = ["user_name","order_id","reason"];
        checkbox_str = checkbox_val.join(',');
        $('#show_columns').val(checkbox_str);
        
        $(".colCheck").change(function () {
            if ($(".colCheck:not(:checked)").length == $(".colCheck").length) {
                //do something
                $(".iconHide").css("background-image", "url(/static/img/png/hide.png)");
            } else {
                $(".iconHide").css("background-image", "url(/static/img/svg/hideblue.svg)");
            }
        });
        
        $(".colFreezeCheck").change(function () {
            if ($(".colFreezeCheck:not(:checked)").length == $(".colFreezeCheck").length) {
                //do something
                $(".iconUnfreeze").css("background-image", "url(/static/img/svg/unfreeze.svg)");
            } else {
                $(".iconUnfreeze").css("background-image", "url(/static/img/svg/freeze.svg)");
            }
        });
    });
    
    $(window).resize(function () {
        setHeightWidth();
    });
    
    $('.checked_all').on('change', function() {     
        $('.checkbox').prop('checked', $(this).prop("checked"));              
    });
    //deselect "checked all", if one of the listed checkbox product is unchecked amd select "checked all" if all of the listed checkbox product is checked
    $('.checkbox').change(function(){ //".checkbox" change 
    if($('.checkbox:checked').length == $('.checkbox').length){
        $('.checked_all').prop('checked',true);
    }else{
        $('.checked_all').prop('checked',false);
    }
    console.log($('.checkbox:checked').length);
});


function updateVehicleStatus(id, active_status) {
    if ($('#is_active_' + id).prop("checked") == true) {
        is_active = 1;
        status = 'Unblock';
    } else {
        is_active = 0;  
        status = 'Block';
    }
    
    $.ajax({
        url: "{% url 'src:update-driver-status' %}",
        method: 'POST',
        data: {
            id: id,
            is_active: is_active,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (data) {
            if (data.error == false) {
                hideLoader();
                openToaster("success", data.message);
            }
        },
        error: function (err) {
            console.log(err)
        }
    });
}


function getGrievanceDetails(id) {
    $('#detailsBox').html('<div style="margin-top:40px; text-align:center"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></div>');
        //showLoader();
        url = "{% url 'src:grievance-short-details' '1' %}";
        url = url.replace('1',id)
        
        $.ajax({
            url: url,
            method: 'GET',
            success: function (data) {
                $('#detailsBox').html(data);
            },
            error: function (err) {
                console.log(err)
            }
        });
    }
    
</script>


{% endblock %}