{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="row mb-2" id="topRow">
            <div class="col-md-5 p-md-0">
                <h6><b>Incentive Slab&nbsp;&nbsp;</b></h6>
            </div>
            <div class="col-md-7 p-md-0">
                <div class="row" >
                    <div class="col-md-12 p-md-0 text-right">
                        <input class="searchTable zone_search" placeholder="Search" type="search" data-column="all">
                        <button type="button" class="btn iconBox iconAddNew" onclick="addMaster('incentive_slab')"></button>
                        
                            <div class="dropdown show-hide" style="display: inline-block;" id="hideColumn">
                                <button class="btn iconBox iconHide" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu dropdown-menu-right logoutContainer"
                                aria-labelledby="dropdownMenuButton">
                                
                                <a class="dropdown-item columnHideItem">
                                    <input type="checkbox" class="colCheck" name="" 
                                    onclick="showHideColumns(this,'product_class_id',1)"
                                    />
                                    <label class="mb-0" for="">Product Class</label>
                                </a>
                                <a class="dropdown-item columnHideItem">
                                    <input type="checkbox" class="colCheck" name="" 
                                    onclick="showHideColumns(this,'more_than_quantity',2)"
                                    />
                                    <label class="mb-0" for="">More Than Quantity</label>
                                </a>
                                <a class="dropdown-item columnHideItem">
                                    <input type="checkbox" class="colCheck" name="" 
                                    onclick="showHideColumns(this,'upto_quantity',3)"
                                    />
                                    <label class="mb-0" for="">Upto Quantity</label>
                                </a>
                                
                            </div>
                        </div>
                        
                        <div class="dropdown fixed-column" style="display: inline-block;" id="lockColumn">
                            <button class="btn iconBox iconUnFreeze" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu dropdown-menu-right logoutContainer"
                            aria-labelledby="dropdownMenuButton">
                            
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colFreezeCheck" name="" id="product_class_id" data-id="1"
                                onclick="toggleFreeze(this.id,'product_class_id',1)" />
                                <label class="mb-0" for="product_class_id">Product Class</label>
                            </a>
                            
                            
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colFreezeCheck" name="" id="more_than_quantity" data-id="2"
                                onclick="toggleFreeze(this.id,'more_than_quantity',2)" />
                                <label class="mb-0" for="more_than_quantity">More Than Quantity</label>
                            </a>
                            
                            <a class="dropdown-item columnHideItem">
                                <input type="checkbox" class="colFreezeCheck" name="" id="upto_quantity" data-id="2"
                                onclick="toggleFreeze(this.id,'upto_quantity',2)" />
                                <label class="mb-0" for="upto_quantity">Upto Quantity</label>
                            </a>
                            
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row mb-2">
    <div class="col-md-12 pr-md-0 h-100" id="masterListTable">
        <div class="primaryContainerBG h-100 commonTableBg tableBox" id="detailsBox" style="border-radius: 12px !important;">
            
            <table id="addOrgTable" class="table table-borderless table-striped table-hover mt-0"
            style="width: 100%;">
            <thead>
                <tr>
                    <th class="product_class_id">
                        Product Class
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    <th class="more_than_quantity">
                        More Than Quantity
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    <th class="upto_quantity">
                        Upto Quantity
                        <i class="fa fa-fw fa-sort float-right"></i>
                        <img src="{% static 'img/svg/unfreeze.svg' %}" class="float-right" id="unfreeze">
                        <img src="{% static 'img/svg/freeze.svg' %}" class="float-right" id="freeze">
                    </th>
                    
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tablebody">
                {% if slab_lists %}
                {% for slab in slab_lists %}
                <tr>
                    <td class="product_class_id">{{ slab.product_class }} </td>
                    <td class="more_than_quantity">{{ slab.more_than_quantity }}</td>
                    <td class="upto_quantity">{{ slab.upto_quantity }}</td>
                    <td >
                        <div class="row">
                            <div class="col-md-12">
                                
                                <a href="javascript:void(0)"
                                onclick="editMaster('incentive_slab','{{ slab.id }}')" >
                                <img
                                src="{% static 'img/svg/editcopy.svg' %}" /></a> 
                                
                                
                                
                               
                            </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr id="loading" style="display: none;">
                        <td class="text-center" colspan="3"><i class="fa fa-spinner fa-spin" style="font-size:2rem"></i>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3" style="text-align: center;">No Record Found...</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    
function updateContainerStatus(id,status){
    showLoader();
    if ($('#is_active_' + id).prop("checked") == true) {
            is_active = 1;
            status = 'Unblock';
        } else {
            is_active = 0;  
            status = 'Block';
        }
        url = "{% url 'src:update-containers-status' %}";
        url = url.replace(1,parseInt(id))
        $.ajax({
                url: url,
                method: 'POST',
                data: {
                id: id,
                is_active: is_active,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
                success: function (data) {
                    hideLoader();
                    if(data.flag){
                        openToaster("success", data.message);
                        getList('containers');
                    }else{
                        openToaster("danger", data.message);
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            });
        }

</script>