{% load static %}
<div class="modal-AddOrganisation centered">
    <div class="modal-body p-0">
        <div class="row">
            <div class="col-md-3 p-md-0" style="background-repeat: no-repeat;text-align: center;background-color: #0073e0;background-position: bottom left;background-size: 80%;">
                <div class="transformImage">
                    <img src="{% static 'img/png/route.png' %}" class="w-50" />
                    <h4 class="modalColHead">Edit Production Unit</h4>
                </div>
            </div>
            
            <div class="col-md-9 p-md-4">
                <form id="addProductionUnitForm" method="POST" autocomplete="off" action="" aria-label="Product">
                    <input type="hidden" name="production_unit_id" value="{{production_unit_details.id}}" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <h5><b>Production Unit details </b></h5>
                        </div>
                        <div class="col-md-6 p-md-0">
                            <button class="btn btn-save float-right" type="button" onclick="updateProductionUnit()">
                                Save
                            </button>
                            <button class="btn btn-close float-right" type="button"
                            onclick="manipulateModal('addProductModal','close')">
                            Close
                        </button>
                    </div>
                </div>
                
                
                
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Production Unit Name</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="Production Unit Name*" name="production_unit_name" value="{{production_unit_details.production_unit_name}}" maxlength="50" />
                        <label class="error_msg float-right" id="production_unit_name_error"></label>
                    </div>
                </div>
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Organization*</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <select class="inputField selectField"
                                    style="width: 100% !important; "
                                    name="organization[]" id="organization" multiple>
                                    {% for organization in organizations %}<option value="{{organization.id}}" {% if organization.id|stringformat:"i" in production_unit_details.organization_id %}selected{% endif %}>
                                        {{organization.organization_name}}</option>{% endfor %}
                                </select>
                                <label class="error_msg float-right" id="organization_error" ></label>
                    </div>
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b>Production Unit Code</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="Production Unit code" name="production_unit_code" value="{{production_unit_details.production_unit_code}}" maxlength="10"/>
                        <label class="error_msg float-right" id="production_unit_code_error"></label>
                    </div>
                </div>
                
                <div class="row mt-md-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 p-md-0">
                                <h6 style="display: inline-block;"><b> Address</b></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 p-md-0">
                        <input class="inputField" type="text" placeholder="Address" name="production_unit_address" value="{{production_unit_details.production_unit_address}}" maxlength="255"/>
                        <label class="error_msg float-right" id="production_unit_address_error"></label>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>

<script>
    
        function removeTown(element){
            $(element).parent().parent().remove();
        }
        function updateProductionUnit(id) {
            showLoader();
            if(validateForm()){
                hideLoader();
                return false;
            }else{
                url = "{% url 'src:edit-production-unit' '1' %}";
                url = url.replace('1',id)

                $.ajax({
                    url: url,
                    method: 'POST',
                    data: $('#addProductionUnitForm').serialize(),
                    success: function (data) {
                        hideLoader();
                        if(data.flag){
                            $("#addProductModal").html('');
                            $("#addProductModal").hide();
                            getList('production_unit');
                            openToaster("success", data.message);
                        }else{
                            openToaster("danger", data.message);
                        }
                    },
                    error: function (err) {
                        hideLoader();
                        console.log(err)
                    }
                }).always(function() {
                        // hideLoader();
                    });
            } 
        }
        
        
        function validateForm(){
            error = 0;
            $('.error_msg ').text('');
            $('.inputField').css("border", "");
            if($.trim($('[name="production_unit_name"]').val()) == ""){
                $('[name="production_unit_name"]').parent().find('.error_msg').text('Please enter Production Unit name');
                $('[name="production_unit_name"]').css("border", "1px solid #db8305");
                error = error + 1;
            }

            if($.trim($('[name="organization[]"]').val()) == ""){
                $('[name="organization[]"]').parent().find('.error_msg').text('Please select Organisation');
                $('[name="organization[]"]').css("border", "1px solid #db8305");
                error = error + 1;
         }
            
            if(error > 0){
                return true;
            }else{
                return false;
            }
        }
        
        
    </script>